
  .search-container {
    position: relative;
    height: 20px;
    input {
        border: none;
        border-bottom: 0.5px solid #d7d7d7;
        width: 250px;
        background: none;
        outline: none;
        padding-left: 10px;
            &:focus ~ label {
                font-size: 10px;
                top: -10px;
                color: #1bbfbe;  
            }  
            &:focus ~ .bar:before{
                width: 250px;
                left: 0; 
            }
    }
    label {
        position: absolute;
        pointer-events: none;
        color: #d7d7d7;
        top: 0;
        left: 0;
        transition: 0.2s ease all;
        padding-left: 8px;  
    }
  }
  
  .bar {
    position: relative;
    display: block;
    width: 250px;
        &:beore {
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #1cc0be;
            transition: 0.2s ease all;    
        }
  }
  
  .autocom-box {
    background: #f2f2f2;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
        li {
            list-style: none;
            padding: 8px 12px;
            border-radius: 3px;
            color: #121920;
            display: none;
            font-size: 15px;
            pointer-events: none;
                &:hover{
                    background: #1bbfbe;
                    cursor: pointer;
            }   
        }
  }

  .active .autocom-box {
    opacity: 1;
    pointer-events: auto;
        li {
            display: block;
            pointer-events: auto; 
        }
  }
  