
  header {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
  }

.top-panel {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #f2f2f2;
  }
  .velo {
    display: flex;
    align-items: center;
    text-align: center;
    width: 90px;
    background-color: #1bbfbe;
    img {
      width: 50px;
      padding: 20px;
    }
  }

  .navigation-panel {
    width: calc(100% - 59px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
  }  