.top-img-container {
    position: relative;
    margin-top: 90px;
  };

  .background-img {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
        img {
            position: relative;
            width: 100%;   
        }
  };
  .location {
    display: flex;
    position: absolute;
    left: 120px;
    bottom: 20px;
    color: #d7d7d7;
    align-items: center;
  };

  .marker {
      padding-right: 15px;
  }
  .r-box-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
        p {
            margin: 0;  
        }
  };

  .yellow, .blue {
    height: 250px;
    background: rgba(193, 198, 91, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
   
  }
  .blue {
    background: rgba(27, 191, 190, 0.5);
  };

  .logo {
    margin-bottom: 10px;
  };

  @media only screen and (max-width: 820px) {
.background-img {
    img {
        height: 100%;
        top: 0;
    }
}
  };

  @media only screen and (max-width: 550px) {
    .r-box-container {
        display: block;
    }  
    .yellow, .blue {
          height: 125px;
      }
      .location {
          font-size: 10px;
      }
  }
  @media only screen and (max-width: 375px) {
    .top-img-container {
        margin-top: 150px;
    }
    .location {
        left: 30px;
    }
  }
